.body_background 
{
    background-position: center;
    background-size:contain;
	background:url("grass.jpg");
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}
h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }

#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
